<mat-toolbar color="primary">
    <span>
      <a routerLink="/">Jitterbit Uploader</a>
    </span>
    <span class="spacer">

    </span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Connector</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button [matMenuTriggerFor]="menu">Server</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onRestart()">Restart</button>
        </mat-menu>
      </li>
      <!-- <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li> -->
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar>